/* Add CSS styling here */
*{
  background-color: whitesmoke;
  font-family: "Oxygen", sans-serif;
}

html {
  font-size: 62.5%;
} 

#website-title{
  margin: 1rem;
  font-size: 4.5rem;
  color: black;
  text-align: left;
}

.website-header nav a{
  margin: 1rem;
  padding: 1rem;
  border: .2rem solid black;
  background-color: gray;
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}

nav{
  display: flex;
  justify-content: left;
}

.website-header nav a:hover {
  background: whitesmoke;
}

header{
  border-bottom: .2rem solid black;
  padding: 2rem;
  background-color: lightseagreen;
}

header h1, header nav, header a{
  background-color: lightseagreen;
}

#highlight-picture{
  border: .2rem solid black;
  float: left;
}

#webpage-title{
  margin-left: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  color: black;
}

#introduction{
  margin: 0 2rem;
  font-size: 2rem;
}

.about-page{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button{
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: lightseagreen;
  border: .2rem solid black;
  font-size: 2rem;
  font-weight: bold;
}

.projects img{
  margin: .1rem;
  border: .2rem solid black;
}

.projects{
  display: flex;
  flex-flow: row wrap;
}

figcaption{
  text-align: center;
}

footer h3{
  font-size: 2.5rem;
  background-color:lightseagreen;
}

footer a, footer p, footer button{
  background-color:lightseagreen;
}

footer button{
  background-color: lightseagreen;
}

.footer-content{
  text-align: center;
  color: black;
  font-size: 1.8rem;
  border-top: .2rem solid black;
  background-color:lightseagreen;
}

@media (max-width:800px) {
  #website-title {
    font-size: 4rem;
    text-align: center;
  }

  #highlight-picture {
    width: 50%;
  }
  
  nav {
    flex-direction: column;
  }

  #webpage-title {
    font-size: 2.5rem;
  }

  .website-header nav a{
    margin: .5rem;
    font-size: 2.5rem;
    text-align: center;
  }
}
  