*{
    background-color: whitesmoke;
    font-family: "Oxygen", sans-serif;
  }
  
  h1{
    margin: 20px;
    font-size: 45px;
    color: green;
    text-align: left;
  }
  
  .container header nav a{
    margin: 0 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: green;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  
  nav{
    display: flex;
    justify-content: left;
  }
  
  .container header nav a:hover {
    background: whitesmoke;
  }
  
  header{
    border-bottom: 2px solid black;
    padding: 20px;
    background-color: lightgray;
  }
  
  header h1, header nav, header a{
    background-color: lightgray;
  }
  
  #highlight{
    border: 2px solid black;
    float: left;
  }
  
  h2{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 35px;
    color: green
  }
  
  .project-names{
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  figcaption{
    font-size: 20px;
    text-align: center;
  }

  footer h3{
    font-size: 25px;
    background-color:lightgray;
  }
  
  footer a, footer p, footer button{
    background-color:lightgray;
  }
  
  footer button{
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    background-color: whitesmoke;
  }
  
  .footer-content{
    text-align: center;
    color: black;
    font-size: 18px;
    border-top: 2px solid black;
    background-color:lightgray;
  }  